<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Magic Bike</title>
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
      type="text/css"
    />
    <div id="map"></div>

    <script>
      const coordinates = fetch("/api/current", {
        method: "GET",
        redirect: "follow",
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (myJson) {
          const { coordinates } = myJson;

          mapboxgl.accessToken =
            "pk.eyJ1IjoicmVkeG91bHMiLCJhIjoiY2t4N2R1Nm1uMHl4aTJwcXViYno1Ym9sNCJ9.fByzZrach_1gQlboB02hCg";
          const map = new mapboxgl.Map({
            container: "map",
            style: "mapbox://styles/mapbox/streets-v11",
            center: coordinates,
            zoom: 13,
          });
          const newDirectionControl = new MapboxDirections({
            accessToken: mapboxgl.accessToken,
            profile: "mapbox/cycling",
            interactive: false,
          });

          fetch("/api/current", {
            method: "GET",
            redirect: "follow",
          })
            .then(function (response) {
              return response.json();
            })
            .then(function (myJson) {
              const { coordinates } = myJson;
              newDirectionControl.setOrigin(coordinates);
            });

          newDirectionControl.on("origin", (e) => {
            console.log(e.feature.geometry.coordinates);
            fetch("/api/navigate", {
              body: JSON.stringify({ start: e.feature.geometry.coordinates }), // must match 'Content-Type' header
              method: "POST",
              headers: {
                "content-type": "application/json",
              },
            })
              .then(function (response) {
                return response.json();
              })
              .then(function (myJson) {
                console.log(myJson);
              });
          });

          newDirectionControl.on("destination", (e) => {
            console.log(e.feature.geometry.coordinates);
            fetch("/api/navigate", {
              body: JSON.stringify({ end: e.feature.geometry.coordinates }), // must match 'Content-Type' header
              method: "POST",
              headers: {
                "content-type": "application/json",
              },
            })
              .then(function (response) {
                return response.json();
              })
              .then(function (myJson) {
                console.log(myJson);
              });
          });

          map.addControl(newDirectionControl, "top-left");
          map.addControl(new mapboxgl.NavigationControl());

          // class ToggleControl {
          //   constructor(options) {
          //     this._options = Object.assign({}, this._options, options);
          //   }

          //   onAdd(map, cs) {
          //     this.map = map;
          //     this.container = document.createElement("div");
          //     this.container.className = `${this._options.className}`;
          //     const button = this._createButton("monitor_button");
          //     this.container.appendChild(button);
          //     return this.container;
          //   }
          //   onRemove() {
          //     this.container.parentNode.removeChild(this.container);
          //     this.map = undefined;
          //   }
          //   _createButton(className) {
          //     const el = window.document.createElement("button");

          //     const svg = document.createElementNS(
          //       "http://www.w3.org/2000/svg",
          //       "svg"
          //     );
          //     el.setAttribute("width", 29);
          //     el.setAttribute("height", 29);
          //     el.setAttribute("display", "block");
          //     // button.setAttribute("viewBox", "0 0 20 20");
          //     // button.setAttribute("fill", "#333");

          //     const icon = document.createElementNS(
          //       "http://www.w3.org/2000/svg",
          //       "path"
          //     ); //Create a path in SVG's namespace
          //     icon.setAttribute(
          //       "d",
          //       "M10 4C9 4 9 5 9 5v.1A5 5 0 0 0 5.1 9H5s-1 0-1 1 1 1 1 1h.1A5 5 0 0 0 9 14.9v.1s0 1 1 1 1-1 1-1v-.1a5 5 0 0 0 3.9-3.9h.1s1 0 1-1-1-1-1-1h-.1A5 5 0 0 0 11 5.1V5s0-1-1-1zm0 2.5a3.5 3.5 0 1 1 0 7 3.5 3.5 0 1 1 0-7z"
          //     ); //Set path's data

          //     const circle = document.createElementNS(
          //       "http://www.w3.org/2000/svg",
          //       "circle"
          //     ); //Create a path in SVG's namespace

          //     svg.appendChild(icon);

          //     const span = document.createElement("span");
          //     span.setAttribute(
          //       "background-image",
          //       "url(data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%23333'%3E %3Cpath d='M10 4C9 4 9 5 9 5v.1A5 5 0 0 0 5.1 9H5s-1 0-1 1 1 1 1 1h.1A5 5 0 0 0 9 14.9v.1s0 1 1 1 1-1 1-1v-.1a5 5 0 0 0 3.9-3.9h.1s1 0 1-1-1-1-1-1h-.1A5 5 0 0 0 11 5.1V5s0-1-1-1zm0 2.5a3.5 3.5 0 1 1 0 7 3.5 3.5 0 1 1 0-7z'/%3E %3Ccircle id='dot' cx='10' cy='10' r='2'/%3E %3Cpath id='stroke' d='M14 5l1 1-9 9-1-1 9-9z' display='none'/%3E %3C/svg%3E)"
          //     );
          //     el.appendChild(span);

          //     el.className = className;
          //     el.addEventListener(
          //       "click",
          //       (e) => {
          //         geolocate.trigger();
          //       },
          //       false
          //     );
          //     return el;
          //   }
          // }
          // const toggleControl = new ToggleControl({
          //   className: "mapboxgl-ctrl",
          // });
          // map.addControl(toggleControl, "top-right");

          const currentMarker = new mapboxgl.Marker()
            .setLngLat(coordinates)
            .addTo(map);

          // window.setInterval(
          //   (currentMarker, map) => {
          //     fetch("/api/current", {
          //       method: "GET",
          //       redirect: "follow",
          //     })
          //       .then(function (response) {
          //         return response.json();
          //       })
          //       .then(function (myJson) {
          //         const { coordinates } = myJson;
          //         currentMarker.setLngLat(coordinates);
          //       });
          //   },
          //   1000,
          //   currentMarker,
          //   newDirectionControl
          // );
        });
    </script>
  </body>
</html>
